.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pageNumber,
.arrow {
    border: none;
    background-color: white;
}


.pageNumber,
.arrow:disabled {
    cursor: default;
}

.pageNumber {
    padding: 8px;

}
.list {
    display: flex;
    align-items: center;
    justify-content: center;
}
